ia_wind/
iai_wind/
2025-12-04-raspios-trixie-arm64.img
2025-12-04-raspios-trixie-arm64.img.xz
LAST_MODEL_TEST_cm.png
LAST_MODEL_TRAIN_cm.png
Imager/
Dataset/
*.pdf
*.tex
*.docx
*.exe
*.img
*xz
Industrial_Model/
Medical_Model/smart_dustbin_model_best.keras
Medical_Model/smart_dustbin_model_last.keras
Medical_Model/smart_dustbin_model.weights.h5
Household_Model/smart_dustbin_classifier.pyZone.Identifier
Household_Model/smart_dustbin_model.keras
Household_Model/smart_dustbin_model.weights.h5
Household_Model/yolov8n.pt
Medical_Model/yolov8n.pt